<header>
	<h1>DirectX Programming Tutorial</h1>
</header>
<hr />
<div class="vertical-menu">
	<a href="/">Home</a>
	<a href="/lesson1">Lesson 1: Making a Window</a>
	<a href="/lesson2">Lesson 2: Initializing DirectX 11</a>
	<a href="/lesson3">Lesson 3: Shaders</a>
	<a href="/lesson4">Lesson 4: Drawing a triangle</a>
 </div>